<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="application">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Memory Game</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-beta1/jquery.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
        <script src="scripts/underscore-min.js"></script>
        <script src="scripts/GameController.js"></script>
        <script src="scripts/MemoryCardDirective.js"></script>
		<script>
            angular.module('applicationRegistry',[])//, ['ngAnimate'])
                //---------------directives-------------------------------------------
                .directive('memoryCard',           memoryCardDirective)
                //---------------controllers-------------------------------------------
                .controller('GameController',       GameController);
            var application = angular.module('application', ['applicationRegistry']);

		</script>
    </head>
    <body ng-controller="GameController">
        <h1>Memory Game</h1>
        <button ng-click="startGame()">{{ (cards || won) ? "restart" : "start" }}</button>
		<table id="grid_tbl">
            <tr ng-repeat="col in cards">
                <td ng-repeat="c in col track by $index">
                    <memory-card card="c"></memory-card>
                </td>
            </tr>      
        </table>
        <div ng-show="won">YOU WON!</div>
    </body>
</html>
